@media screen and (max-device-width: 400px) {
　　.yellow-block {
		background:#fff45c;
		text-align: center;
		font-size: 30px;
	}
}
@media (min-width:500px){
	.yellow-block {
		background:#fff45c;
		text-align: center;
		font-size: 30px;
	}
}
li {
	margin: 0;
	padding: 0;
	list-style: none;
}

*{
	font-family: "微软雅黑";
}
.body-color {
	background-color: #da0b00;
}
.header {
	background-image: url(../images/toububeijing.png);
	background-position: center center;
	color:#da0b00;
}
.opacity {
	margin-top: 30px; 
    background:rgba(255,255,255,0.3);  
    background:#000 9;/*CSS Hack,只能对ie9以下浏览器ie6,ie7,ie8有效，否侧ie10,FF,Cherome会失去透明效果*/  
    filter:Alpha(opacity=60);/*只对ie7,ie8有效*/  
}
.col-sm-2 img {
	margin-bottom: 20px;
}
.content {
	color: #FFFFFF;
}
.kaijiang-title {
	margin-left: 20px;
	color: #fff45c;
}
.red-text{
	color:#da0b00;
}
.yellow-text {
	color: #FFF45C;
}
.yellow-block {
	background:#fff45c;
	text-align: center;
	font-size: 50px;
}

#user {
	text-align: center;
	color: #FFFFFF;
}

